:root {
  font-family: "DM Sans", system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fafaf8;

  /* Esto activa el centrado real en toda la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Limpieza básica para que las etiquetas no hereden cosas raras de Vite */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
